table.mat-table {
    width: 100%;
  }
  
  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    max-width: 10em;
  }
  
  .actionButtons {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-left: 10px;
  }
  
  .mat-card {
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
  }

  .mat-icon {
    font-size: 70px;
    margin-right: 40px;
    margin-top: 1px;
  }
  
  .mat-card:hover{
    box-shadow: 0px 6px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  .cardSubtitle {
    margin-bottom: 1px;
    word-wrap: break-word;
  }
  
  .cardTitle {
    font-size: 14px;
    margin-top: 1px;
    word-wrap: break-word;
  }
  
  .cardStyle {
    width: 150px;
    height: 230px;
  }
  
  .cardContainer {
    text-align: center;
  }